<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Koostoo - Deskripsi Proyek</title>
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>



    <% if(user.nama_desa == null) {%>
    
        <button class="hubungi-investor"> <img width="22px" src="img/chatIcon.png" alt=""> Hubungi Desa</button>
        <%- include('sideBarInvestor'); -%>
        
    <%} else{ %>  
        <button class="hubungi-investor"> <img width="22px" src="img/chatIcon.png" alt=""> Hubungi Investor</button>
        <%- include('sideBarDesa'); -%>
     <% } %>
        <div class="container">
            <section class="deskripsi-proyek">
                <div class="card-atas">
                    <div class="proyek-title">
                        <div class="proyek-title-left">
                            <img src="img/back-icon.svg" alt="" onclick="window.location='/dashboard'">
                        </div>
                        <div class="proyek-title-right">
                            <a class="proyek-title" href="#"><%=result.nama_proyek %></a>
                            <p class="proyek-namaPerusahaan"><%=result.nama_perusahaan %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card proyek border-top-0 border-right-0 border-bottom-0">
                                <div class="card-body desc-proyek">
                                    <div class="left-green"></div>
                                    <div class="deadline">
                                        <% let days = result.waktu_target_selesai.toString().split(" ").slice(0, 4) %>
                                        <h5 class="card-title deadline"><%= days[2] %></h5>
                                        <div class="hari-tersisa">
                                            <p><%= days[1] %></p>
                                            <p><%= days[3] %></p>
                                        </div>
                                    </div>

                                     <!-- <p> <% let day = result.waktu_target_selesai.toString().split(" ").slice(0, 4) %></p>   -->
<!-- 
                                    <p class="card-text deadline"><%=result.waktu_target_selesai %></p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card proyek border-top-0 border-right-0 border-bottom-0">
                                <div class="card-body">
                                    <div class="left-green"></div>
                                    <div class="card-left">
                                        <h5 class="card-title mou">MoU Kerja Sama</h5>
                                    </div>
                                    <div class="card-right">
                                        <a class="selengkapnya" href="user-uploads/pdf/mou/<%= result.mou_kerjasama %>">BUKA<span class="next-icon"><img src="img/next-icon.svg" alt=""></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="paragraf-deskripsi">
                    <h2 class="deskripsi-title" href="#">Deskripsi Proyek</h2>
                    <p class="deskripsi-teks"><%=result.deskripsi_proyek%></p>
                </div>
                <div class="progress-proyek">
                    <h2 class="deskripsi-title" href="#">Progress Proyek</h2>
                    <div class="row mt-1">
                        <div class="col-md-12">
                            <ul class="stepper stepper-vertical">
                                <% let progress = false; %>

                                <% for(let i = 0; i < progress.length; i++){ %>
                                    <% progress = true; %>
                                    <li class="completed">
                                        <p class="card-text" id="tanggal-progress"><%= progress[i].tanggal_progress.toString().split(" ").slice(0, 4)  %>></p>
                                        <div class="dokumentasi-progress">
                                            <p> <%= progress[i].deskripsi_progress %> </p>p>
                                        </div>
                                    </li>
                                <% } %>
                                <% if(!progress) {%>
                                    <p>Belum ada progress</p>
                                <% }%>
                                <!-- <li class="on-going">
                                    <p class="card-text" id="tanggal-progress">27/12/2019</p>
                                    <h4 class="label">Pembelian Pakan</h4>
                                    <button class="btn"><img src="img/document-green-icon.svg" alt=""></button>
                                </li> -->
                            </ul>
                            <!-- <button class="update-progress">Update Progress</button> -->
                        </div>
                    </div>

                </div>
            </section>
        </div>
</body>

</html>